Pillow>=6.2.0
requests>=2.20.1
requests-toolbelt==0.10.1
appengine-python-standard==1.1.2
alive-progress==2.4.1
matplotlib==3.5.1
mplcursors==0.5.1
datumaro==0.3.1
#flask==2.2.2
validators
python-dotenv
aiohttp
#pytest==7.2.0
#open3d==0.8.0.0
